@import '~bootstrap/scss/bootstrap';

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.ta {
    position: relative;
    left: 10%;
    max-width: 80%;
    margin: 1rem;
}

.container {
    position: relative;
    text-align: center;
}

.container img {
    position: relative;
    top: 0;
    left: 0;
}

.memefont {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 30%;
    z-index: 100;
    text-align: center;

    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 42px;

    //color: white;
    //-webkit-text-stroke-width: 2px;
    //-webkit-text-stroke-color: black;
    color: black;
    //-webkit-text-stroke: 2px black;
}

.backing {
    z-index: 5;
    color: white;
}

.topfont {
    z-index: 10;
    top: 5%;
}

.bottomfont {
    bottom: 5%;
    vertical-align: bottom;
}

#bottomfont span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}















.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 48em) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 2rem;
    }

    .jumbotron {
        border-bottom: 0;
    }
}
