@import '~bootstrap/scss/bootstrap';
@import '~swiper/dist/css/swiper';

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.swiper-container {
    width: 600px;
    height: 300px;
}

.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

@media screen and (min-width: 48em) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 2rem;
    }

    .jumbotron {
        border-bottom: 0;
    }
}
